@import "../bower/bootstrap/less/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

// Movie Page
#about h4 {
  margin-bottom: 26px;
}

.sub-text {
  border-left: 1px dotted #fb0000;
  padding-left: 20px;
}

.text-dark {
  color: #BEBEBE !important;
}

.detailed-text {
  border: 1px dotted #fb0000;
  background: #333333;
  color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 6px;
}

.fa-star {
  color: yellow;
}
